/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

/* src/App.css */

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #FFFFFF;
  padding-left: 40px; /* Aggiunge un margine a sinistra della sezione principale */
}

